<div class="min-h-screen bg-slate-950 text-slate-100">
  <!-- HERO SECTION -->
  <section
    class="max-w-7xl mx-auto px-6 py-20 grid lg:grid-cols-2 gap-12 items-center"
  >
    <!-- Text -->
    <div>
      <!-- Hero Image -->
      <div class="relative lg:hidden -top-10 z-10">
        <img
          src="{{ collageImg }}"
          alt="Dev Wellbeing App"
          class="rounded-xl z-10"
        />
      </div>

      <h1 class="text-3xl sm:text-4xl xl:text-5xl font-bold leading-tight">
        NeoPolar Cam
      </h1>

      <p class="mt-6 text-slate-400 text-base sm:text-lg">
        NeoPolar Cam is a simple camera app that helps you capture clearer and
        sharper photos by reducing glare and improving contrast. Just open the
        app, point, and shoot for better-looking pictures with a clean and
        easy-to-use interface.
      </p>

      <!-- <p class="mt-4 text-slate-400">
        It automatically monitors application usage, coding time, and activity
        patterns — helping developers stay productive without burning out.
      </p> -->

      <!-- Buttons -->
      <div class="mt-8 flex flex-wrap gap-2 sm:gap-4 text-xs sm:text-sm">
        <a
          href="{{downloadUrl}}"
          target="_blank"
          class="px-6 py-3 rounded-lg bg-indigo-600 hover:bg-indigo-500 transition font-medium"
        >
          Download for Android
        </a>

        <a
          href="{{sourceCodeUrl}}"
          target="_blank"
          class="px-6 py-3 rounded-lg border border-slate-700 hover:bg-slate-800 transition font-medium text-xs sm:text-sm"
        >
          Source Code
        </a>
      </div>
    </div>

    <!-- Hero Image -->
    <div class="relative hidden lg:block">
      <img
        src="{{ collageImg }}"
        alt="Dev Wellbeing App"
        class="rounded-xl z-10"
      />
    </div>
  </section>

  <!-- FEATURES SECTION -->
  <section id="features" class="max-w-7xl mx-auto px-6 pb-20">
    <h2 class="text-2xl sm:text-3xl font-semibold text-center">Key Features</h2>

    <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="p-6 bg-slate-900 rounded-xl border border-slate-800">
        <h3 class="text-lg font-semibold">Polarized Effect</h3>
        <p class="mt-3 text-slate-400 text-sm">
          Reduces glare and reflections to capture clearer and sharper photos.
        </p>
      </div>

      <div class="p-6 bg-slate-900 rounded-xl border border-slate-800">
        <h3 class="text-lg font-semibold">Minimal Design</h3>
        <p class="mt-3 text-slate-400 text-sm">
          No clutter — just focus on your shot.
        </p>
      </div>

      <div class="p-6 bg-slate-900 rounded-xl border border-slate-800">
        <h3 class="text-lg font-semibold">Clear Outdoor Photos</h3>
        <p class="mt-3 text-slate-400 text-sm">
          Perfect for skies, water, and bright sunlight.
        </p>
      </div>

      <div class="p-6 bg-slate-900 rounded-xl border border-slate-800">
        <h3 class="text-lg font-semibold">Easy to Use</h3>
        <p class="mt-3 text-slate-400 text-sm">
          Simple controls designed for everyone.
        </p>
      </div>

      <div class="p-6 bg-slate-900 rounded-xl border border-slate-800">
        <h3 class="text-lg font-semibold">Simple & Fast</h3>
        <p class="mt-3 text-slate-400 text-sm">
          Clean interface with quick capture for everyday photography.
        </p>
      </div>

      <div class="p-6 bg-slate-900 rounded-xl border border-slate-800">
        <h3 class="text-lg font-semibold">Offline Camera</h3>
        <p class="mt-3 text-slate-400 text-sm">
          Works completely offline with no login required.
        </p>
      </div>
    </div>
  </section>

  <!-- SCREENSHOTS -->
  <section class="max-w-7xl mx-auto px-6 py-20">
    <h2 class="text-2xl sm:text-3xl font-semibold text-center pb-10">
      Screenshots
    </h2>

    <div class="flex items-center justify-center flex-wrap gap-8">
      <div>
        <img
          src="{{ image1 }}"
          alt="Timeline View"
          class="rounded-lg border border-slate-800 h-[30rem]"
        />
        <!-- <p class="mt-3 text-center text-slate-400 text-sm">Timeline View</p> -->
      </div>

      <div>
        <img
          src="{{ image2 }}"
          alt="Today View"
          class="rounded-lg border border-slate-800 h-[30rem]"
        />
        <!-- <p class="mt-3 text-center text-slate-400 text-sm">Today View</p> -->
      </div>
      <div>
        <img
          src="{{ image3 }}"
          alt="Today View"
          class="rounded-lg border border-slate-800 h-[30rem]"
        />
        <!-- <p class="mt-3 text-center text-slate-400 text-sm">Today View</p> -->
      </div>
    </div>
  </section>
</div>
