<div class="lg:px-[7rem] bg-primary text-white pb-24">
  <div class="flex flex-col items-center pt-16">
    <!-- headings -->
    <div class="pb-16 flex flex-col items-center">
      <app-small-heading-wrapper
        [heading]="'Projects Collection'"
      ></app-small-heading-wrapper>

      <app-large-heading-wrapper
        [heading]="'All my creations'"
      ></app-large-heading-wrapper>

      <app-large-heading-wrapper
        [heading]="'one collection'"
      ></app-large-heading-wrapper>
    </div>

    <!-- projects -->
    <div class="flex flex-col items-center lg:space-y-10">
      <!-- FILTERS -->
      <div class="flex flex-wrap gap-3 justify-center mb-6">
        <button
          *ngFor="let filter of filters"
          (click)="setFilter(filter.value)"
          class="px-5 text-xs py-2 rounded-full border transition-all duration-200"
          [ngClass]="{
            'bg-secondary text-white border-secondary':
              activeFilter === filter.value,
            'border-slate-600 text-slate-400 hover:border-secondary hover:text-secondary':
              activeFilter !== filter.value
          }"
        >
          {{ filter.label }}
        </button>
      </div>

      <!-- PROJECT GRID -->
      <div class="flex flex-wrap justify-center 2xl:justify-between gap-10">
        <app-project-card
          *ngFor="let project of filteredProjects"
          [project]="project"
        ></app-project-card>
      </div>
    </div>

    <!-- Go back button -->
    <div class="mt-16">
      <div *ngIf="currentPath === '/projects'">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="flex space-x-2 text-slate-500"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
              />
            </svg>
          </span>
          <span>Take me Home</span>
        </a>
      </div>
    </div>
  </div>
  <div class="border-b border-ternary pt-10"></div>
</div>
