<div class="overflow-hidden whitespace-nowrap bg-secondary/10">
  <div class="inline-block animate-marquee text-lg font-medium text-primary">
    <a routerLink="/android-application/neo-polar-cam" class="mx-8 flex items-center justify-center gap-x-2 ">
      <img class="h-8 w-8" src="{{ newGif }}" alt="New" />
      <div class="text-sm italic"> NeoPolar Cam · Polarized Camera for Android</div>
      <img class="h-8 w-8" src="{{ newGif }}" alt="New" />
    </a >
  </div>

  <div class="inline-block animate-marquee text-lg font-medium text-primary">
    <a routerLink="/windows-application/dev-wellbeing" class="mx-8 flex items-center justify-center gap-x-2 ">
      <img class="h-8 w-8" src="{{ newGif }}" alt="New" />
      <div class="text-sm italic">New Windows App · Daily Coding Time Insights · Pomodoro</div>
      <img class="h-8 w-8" src="{{ newGif }}" alt="New" />
    </a >
  </div>
</div>
